ServiceManager/Web References/SuiteTalk/core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCoreTyp="urn:types.core_2015_2.platform.webservices.netsuite.com" xmlns:platformFaultTyp="urn:types.faults_2015_2.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:core_2015_2.platform.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/coreTypes.xsd" namespace="urn:types.core_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/faultTypes.xsd" namespace="urn:types.faults_2015_2.platform.webservices.netsuite.com" />
  <xsd:complexType name="Passport">
    <xsd:sequence>
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />
      <xsd:element name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="role" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SsoPassport">
    <xsd:sequence>
      <xsd:element name="authenticationToken" type="xsd:string" />
      <xsd:element name="partnerId" type="xsd:string" />
      <xsd:element name="partnerAccount" type="xsd:string" />
      <xsd:element name="partnerUserId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SsoCredentials">
    <xsd:sequence>
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />
      <xsd:element name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="role" type="platformCore:RecordRef" />
      <xsd:element name="authenticationToken" type="xsd:string" />
      <xsd:element name="partnerId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TokenPassportSignature">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="algorithm" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TokenPassport">
    <xsd:sequence>
      <xsd:element name="account" type="xsd:string" />
      <xsd:element name="consumerKey" type="xsd:string" />
      <xsd:element name="token" type="xsd:string" />
      <xsd:element name="nonce" type="xsd:string" />
      <xsd:element name="timestamp" type="xsd:long" />
      <xsd:element name="signature" type="platformCore:TokenPassportSignature" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChangePassword">
    <xsd:sequence>
      <xsd:element name="currentPassword" type="xsd:string" />
      <xsd:element minOccurs="0" name="newPassword" type="xsd:string" />
      <xsd:element minOccurs="0" name="newPassword2" type="xsd:string" />
      <xsd:element minOccurs="0" name="justThisAccount" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChangeEmail">
    <xsd:sequence>
      <xsd:element name="currentPassword" type="xsd:string" />
      <xsd:element name="newEmail" type="xsd:string" />
      <xsd:element name="newEmail2" type="xsd:string" />
      <xsd:element minOccurs="0" name="justThisAccount" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusDetail">
    <xsd:sequence>
      <xsd:element name="code" type="platformFaultTyp:StatusDetailCodeType" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute default="ERROR" name="type" type="platformFaultTyp:StatusDetailType" />
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="statusDetail" type="platformCore:StatusDetail" />
    </xsd:sequence>
    <xsd:attribute name="isSuccess" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="status" type="platformCore:Status" />
  <xsd:complexType name="WsRole">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="role" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isDefault" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isLoggedInRole" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WsRoleList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="wsRole" type="platformCore:WsRole" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="wsRoleList" type="platformCore:WsRoleList" />
  <xsd:complexType name="Record" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="nullFieldList" type="platformCore:NullField" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="record" type="platformCore:Record" />
  <xsd:complexType name="NullField">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchRecord" abstract="true" />
  <xsd:element name="searchRecord" type="platformCore:SearchRecord" />
  <xsd:complexType name="SearchRecordBasic" abstract="true">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="searchRecordBasic" type="platformCore:SearchRecordBasic" />
  <xsd:complexType name="SearchRow" abstract="true" />
  <xsd:complexType name="SearchRowBasic" abstract="true">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="searchRowBasic" type="platformCore:SearchRowBasic" />
  <xsd:complexType name="SearchResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="totalPages" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageIndex" type="xsd:int" />
      <xsd:element minOccurs="0" name="searchId" type="xsd:string" />
      <xsd:element minOccurs="0" ref="platformCore:recordList" />
      <xsd:element minOccurs="0" ref="platformCore:searchRowList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="searchResult" type="platformCore:SearchResult" />
  <xsd:complexType name="AsyncStatusResult">
    <xsd:sequence>
      <xsd:element name="jobId" type="xsd:string" />
      <xsd:element name="status" type="platformCoreTyp:AsyncStatusType" />
      <xsd:element name="percentCompleted" type="xsd:double" />
      <xsd:element name="estRemainingDuration" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="asyncStatusResult" type="platformCore:AsyncStatusResult" />
  <xsd:complexType name="GetAllResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" ref="platformCore:recordList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getAllResult" type="platformCore:GetAllResult" />
  <xsd:complexType name="GetSavedSearchResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" ref="platformCore:recordRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getSavedSearchResult" type="platformCore:GetSavedSearchResult" />
  <xsd:complexType name="GetCustomizationIdResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" ref="platformCore:customizationRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getCustomizationIdResult" type="platformCore:GetCustomizationIdResult" />
  <xsd:complexType name="GetSelectValueResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" name="totalPages" type="xsd:int" />
      <xsd:element minOccurs="0" ref="platformCore:baseRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getSelectValueResult" type="platformCore:GetSelectValueResult" />
  <xsd:complexType name="RecordList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="record" type="platformCore:Record" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="recordList" type="platformCore:RecordList" />
  <xsd:complexType name="SearchRowList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchRow" type="platformCore:SearchRow" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="searchRowList" type="platformCore:SearchRowList" />
  <xsd:complexType name="RecordRefList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="recordRef" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="recordRefList" type="platformCore:RecordRefList" />
  <xsd:complexType name="BaseRef" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="baseRef" type="platformCore:BaseRef" />
  <xsd:complexType name="BaseRefList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="baseRef" type="platformCore:BaseRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="baseRefList" type="platformCore:BaseRefList" />
  <xsd:complexType name="RecordRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:BaseRef">
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
        <xsd:attribute name="type" type="platformCoreTyp:RecordType" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Duration">
    <xsd:sequence>
      <xsd:element name="timeSpan" type="xsd:double" />
      <xsd:element name="unit" type="platformCoreTyp:DurationUnit" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomRecordRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:BaseRef">
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
        <xsd:attribute name="typeId" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomTransactionRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:BaseRef">
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
        <xsd:attribute name="typeId" type="xsd:string" />
        <xsd:attribute name="scriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomizationRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:RecordRef">
        <xsd:attribute name="scriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomizationRefList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="customizationRef" type="platformCore:CustomizationRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customizationRefList" type="platformCore:CustomizationRefList" />
  <xsd:complexType name="InitializeRecord">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="type" type="platformCoreTyp:InitializeType" />
      <xsd:element minOccurs="0" name="reference" type="platformCore:InitializeRef" />
      <xsd:element minOccurs="0" name="auxReference" type="platformCore:InitializeAuxRef" />
      <xsd:element minOccurs="0" name="referenceList" type="platformCore:InitializeRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InitializeRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:BaseRef">
        <xsd:attribute name="type" type="platformCoreTyp:InitializeRefType" />
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InitializeRefList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="initializeRef" type="platformCore:InitializeRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="initializeRefList" type="platformCore:InitializeRefList" />
  <xsd:complexType name="InitializeAuxRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:BaseRef">
        <xsd:attribute name="type" type="platformCoreTyp:InitializeAuxRefType" />
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateInviteeStatusReference">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="eventId" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" name="responseCode" type="platformCoreTyp:CalendarEventAttendeeResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetAllRecord">
    <xsd:sequence />
    <xsd:attribute name="recordType" type="platformCoreTyp:GetAllRecordType" />
  </xsd:complexType>
  <xsd:complexType name="GetSavedSearchRecord">
    <xsd:sequence />
    <xsd:attribute name="searchType" type="platformCoreTyp:SearchRecordType" />
  </xsd:complexType>
  <xsd:complexType name="CustomizationType">
    <xsd:sequence />
    <xsd:attribute name="getCustomizationType" type="platformCoreTyp:GetCustomizationType" />
  </xsd:complexType>
  <xsd:complexType name="ListOrRecordRef">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="internalId" type="xsd:string" />
    <xsd:attribute name="externalId" type="xsd:string" />
    <xsd:attribute name="typeId" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="CustomFieldRef" abstract="true">
    <xsd:attribute name="internalId" type="xsd:string" />
    <xsd:attribute name="scriptId" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="LongCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DoubleCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:double" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BooleanCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StringCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SelectCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element name="value" type="platformCore:ListOrRecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiSelectCustomFieldRef">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:CustomFieldRef">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="value" type="platformCore:ListOrRecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomFieldList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="customField" type="platformCore:CustomFieldRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchBooleanField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchValue" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchStringField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchStringFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchLongField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchValue" type="xsd:long" />
      <xsd:element minOccurs="0" name="searchValue2" type="xsd:long" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchLongFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchTextNumberField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
      <xsd:element minOccurs="0" name="searchValue2" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchTextNumberFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchDoubleField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchValue" type="xsd:double" />
      <xsd:element minOccurs="0" name="searchValue2" type="xsd:double" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchDoubleFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchDateField">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="predefinedSearchValue" type="platformCoreTyp:SearchDate" />
      <xsd:element minOccurs="0" name="searchValue" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="searchValue2" type="xsd:dateTime" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchDateFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchEnumMultiSelectField">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchEnumMultiSelectFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchMultiSelectField">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="platformCore:RecordRef" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:SearchMultiSelectFieldOperator" />
  </xsd:complexType>
  <xsd:complexType name="SearchCustomField" abstract="true">
    <xsd:attribute name="internalId" type="xsd:string" />
    <xsd:attribute name="scriptId" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="SearchBooleanCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchStringCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchStringFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchLongCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:long" />
          <xsd:element minOccurs="0" name="searchValue2" type="xsd:long" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchLongFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchDoubleCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:double" />
          <xsd:element minOccurs="0" name="searchValue2" type="xsd:double" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchDoubleFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchDateCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="predefinedSearchValue" type="platformCoreTyp:SearchDate" />
          <xsd:element minOccurs="0" name="searchValue" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="searchValue2" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchDateFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchEnumMultiSelectCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchEnumMultiSelectFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchMultiSelectCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="platformCore:ListOrRecordRef" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="platformCoreTyp:SearchMultiSelectFieldOperator" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchCustomFieldList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="customField" type="platformCore:SearchCustomField" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnField" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customLabel" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnBooleanField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnStringField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnLongField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnTextNumberField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnDoubleField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:double" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnDateField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnEnumSelectField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnSelectField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="platformCore:RecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnCustomField" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customLabel" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="internalId" type="xsd:string" />
    <xsd:attribute name="scriptId" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="SearchColumnBooleanCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnStringCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnLongCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnDoubleCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:double" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnDateCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnEnumMultiSelectCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnSelectCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="searchValue" type="platformCore:ListOrRecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnMultiSelectCustomField">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchColumnCustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchValue" type="platformCore:ListOrRecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SearchColumnCustomFieldList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="customField" type="platformCore:SearchColumnCustomField" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemAvailabilityFilter">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="item" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastQtyAvailableChange" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemAvailability">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastQtyAvailableChange" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="locationId" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="onHandValueMli" type="xsd:double" />
      <xsd:element minOccurs="0" name="reorderPoint" type="xsd:double" />
      <xsd:element minOccurs="0" name="preferredStockLevel" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnOrder" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityCommitted" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBackOrdered" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemAvailabilityList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="itemAvailability" type="platformCore:ItemAvailability" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetItemAvailabilityResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" maxOccurs="1" name="itemAvailabilityList" type="platformCore:ItemAvailabilityList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getItemAvailabilityResult" type="platformCore:GetItemAvailabilityResult" />
  <xsd:complexType name="BudgetExchangeRateFilter">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="period" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="toSubsidiary" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BudgetExchangeRate">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="period" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="toSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="currentRate" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="averageRate" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="historicalRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BudgetExchangeRateList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="budgetExchangeRate" type="platformCore:BudgetExchangeRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetBudgetExchangeRateResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" maxOccurs="1" name="budgetExchangeRateList" type="platformCore:BudgetExchangeRateList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getBudgetExchangeRateResult" type="platformCore:GetBudgetExchangeRateResult" />
  <xsd:complexType name="ConsolidatedExchangeRateFilter">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="period" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="toSubsidiary" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsolidatedExchangeRate">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="period" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="toSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="currentRate" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="averageRate" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="historicalRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsolidatedExchangeRateList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="consolidatedExchangeRate" type="platformCore:ConsolidatedExchangeRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetConsolidatedExchangeRateResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" maxOccurs="1" name="consolidatedExchangeRateList" type="platformCore:ConsolidatedExchangeRateList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getConsolidatedExchangeRateResult" type="platformCore:GetConsolidatedExchangeRateResult" />
  <xsd:complexType name="CurrencyRateFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="baseCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fromCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CurrencyRate">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="baseCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fromCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="exchangeRate" type="xsd:double" />
      <xsd:element minOccurs="1" maxOccurs="1" name="effectiveDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CurrencyRateList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="currencyRate" type="platformCore:CurrencyRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCurrencyRateResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" maxOccurs="1" name="currencyRateList" type="platformCore:CurrencyRateList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getCurrencyRateResult" type="platformCore:GetCurrencyRateResult" />
  <xsd:complexType name="DataCenterUrls">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="restDomain" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="webservicesDomain" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="systemDomain" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetDataCenterUrlsResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataCenterUrls" type="platformCore:DataCenterUrls" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getDataCenterUrlsResult" type="platformCore:GetDataCenterUrlsResult" />
  <xsd:complexType name="PostingTransactionSummaryField">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="period" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="account" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="parentItem" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="item" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="entity" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="department" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="class" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="subsidiary" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="book" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostingTransactionSummaryFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="period" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="account" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="parentItem" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="item" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="entity" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="department" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="class" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="location" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="subsidiary" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="book" type="platformCore:RecordRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostingTransactionSummary">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="period" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="parentItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="entity" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="subsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="book" type="platformCore:RecordRef" />
      <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostingTransactionSummaryList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="postingTransactionSummary" type="platformCore:PostingTransactionSummary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPostingTransactionSummaryResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="totalPages" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageIndex" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postingTransactionSummaryList" type="platformCore:PostingTransactionSummaryList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getPostingTransactionSummaryResult" type="platformCore:GetPostingTransactionSummaryResult" />
  <xsd:complexType name="GetSelectValueFieldDescription">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="recordType" type="platformCoreTyp:RecordType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="customRecordType" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="customTransactionType" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sublist" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="customForm" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="filter" type="platformCore:GetSelectValueFilter" />
      <xsd:element minOccurs="0" maxOccurs="1" name="filterByValueList" type="platformCore:GetSelectFilterByFieldValueList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetSelectValueFilter">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="filterValue" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="platformCoreTyp:GetSelectValueFilterOperator" use="required" />
  </xsd:complexType>
  <xsd:complexType name="GetSelectFilterByFieldValueList">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="filterBy" type="platformCore:GetSelectFilterByFieldValue" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetSelectFilterByFieldValue">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="sublist" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="internalId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetServerTimeResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="platformCore:status" />
      <xsd:element minOccurs="1" maxOccurs="1" name="serverTime" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getServerTimeResult" type="platformCore:GetServerTimeResult" />
  <xsd:complexType name="DeletedRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="deletedDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="record" type="platformCore:BaseRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeletedRecordList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="deletedRecord" type="platformCore:DeletedRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deletedRecordList" type="platformCore:DeletedRecordList" />
  <xsd:complexType name="GetDeletedResult">
    <xsd:sequence>
      <xsd:element ref="platformCore:status" />
      <xsd:element minOccurs="0" name="totalRecords" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="totalPages" type="xsd:int" />
      <xsd:element minOccurs="0" name="pageIndex" type="xsd:int" />
      <xsd:element minOccurs="0" ref="platformCore:deletedRecordList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getDeletedResult" type="platformCore:GetDeletedResult" />
  <xsd:complexType name="GetDeletedFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="deletedDate" type="platformCore:SearchDateField" />
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="platformCore:SearchEnumMultiSelectField" />
      <xsd:element minOccurs="0" maxOccurs="1" name="scriptId" type="platformCore:SearchStringField" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttachReference" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="attachTo" type="platformCore:BaseRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetachReference" abstract="true">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="detachFrom" type="platformCore:BaseRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttachContactReference">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:AttachReference">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="contact" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contactRole" type="platformCore:RecordRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AttachBasicReference">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:AttachReference">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attachedRecord" type="platformCore:BaseRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DetachBasicReference">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:DetachReference">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="detachedRecord" type="platformCore:BaseRef" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeletionReason">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="deletionReasonCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" maxOccurs="1" name="deletionReasonMemo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>