ServiceManager/Web References/SuiteTalk/customerTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tranCustomersTyp="urn:types.customers_2015_2.transactions.webservices.netsuite.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:types.customers_2015_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="ReturnAuthorizationOrderStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_pendingApproval" />
      <xsd:enumeration value="_pendingReceipt" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChargeStage">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_hold" />
      <xsd:enumeration value="_nonBillable" />
      <xsd:enumeration value="_processed" />
      <xsd:enumeration value="_ready" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChargeUse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_actual" />
      <xsd:enumeration value="_forecast" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>