ServiceManager/Web References/SuiteTalk/inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCommonTyp="urn:types.common_2015_2.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_2.platform.webservices.netsuite.com" xmlns:tranInvtTyp="urn:types.inventory_2015_2.transactions.webservices.netsuite.com" xmlns:tranInvt="urn:inventory_2015_2.transactions.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_2.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:inventory_2015_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/core.xsd" namespace="urn:core_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/common.xsd" namespace="urn:common_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2015_2_0/inventoryTypes.xsd" namespace="urn:types.inventory_2015_2.transactions.webservices.netsuite.com" />
  <xsd:element name="InventoryAdjustment" type="tranInvt:InventoryAdjustment" />
  <xsd:complexType name="InventoryAdjustment">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="estimatedTotalValue" type="xsd:double" />
          <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="adjLocation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="inventoryList" type="tranInvt:InventoryAdjustmentInventoryList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InventoryAdjustmentInventory">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="currentValue" type="xsd:double" />
      <xsd:element minOccurs="0" name="adjustQtyBy" type="xsd:double" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="newQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="unitCost" type="xsd:double" />
      <xsd:element minOccurs="0" name="foreignCurrencyUnitCost" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InventoryAdjustmentInventoryList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="inventory" type="tranInvt:InventoryAdjustmentInventory" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="assemblyBuild" type="tranInvt:AssemblyBuild" />
  <xsd:complexType name="AssemblyBuild">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="buildable" type="xsd:double" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
          <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="revision" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="componentList" type="tranInvt:AssemblyComponentList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="assemblyUnbuild" type="tranInvt:AssemblyUnbuild" />
  <xsd:complexType name="AssemblyUnbuild">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="built" type="xsd:double" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
          <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="componentList" type="tranInvt:AssemblyComponentList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssemblyComponent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="componentInventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="componentNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AssemblyComponentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="component" type="tranInvt:AssemblyComponent" />
    </xsd:sequence>
    <xsd:attribute default="false" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="transferOrder" type="tranInvt:TransferOrder" />
  <xsd:complexType name="TransferOrder">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="shippingCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="shippingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="shipIsResidential" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="shipAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="fob" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranInvtTyp:TransferOrderOrderStatus" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="firmed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="transferLocation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipMethod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="trackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="linkedTrackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipComplete" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="altShippingCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTax1Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTax2Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="handlingTax1Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="handlingTax2Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTaxCode" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="handlingTaxCode" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="itemList" type="tranInvt:TransferOrderItemList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransferOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBackOrdered" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityCommitted" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityFulfilled" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityPacked" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityPicked" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityReceived" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="commitInventory" type="tranInvtTyp:TransferOrderItemCommitInventory" />
      <xsd:element minOccurs="0" name="orderPriority" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lastPurchasePrice" type="xsd:double" />
      <xsd:element minOccurs="0" name="averageCost" type="xsd:double" />
      <xsd:element minOccurs="0" name="expectedShipDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="expectedReceiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransferOrderItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranInvt:TransferOrderItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="interCompanyTransferOrder" type="tranInvt:InterCompanyTransferOrder" />
  <xsd:complexType name="InterCompanyTransferOrder">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="shippingCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="shippingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="shipIsResidential" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="shipAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="fob" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranInvtTyp:TransferOrderOrderStatus" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="transferLocation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipMethod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="trackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="linkedTrackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipComplete" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="altShippingCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTax1Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="handlingTax1Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTax2Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="handlingTax2Rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingTaxCode" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="handlingTaxCode" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="itemList" type="tranInvt:InterCompanyTransferOrderItemList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InterCompanyTransferOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBackOrdered" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityCommitted" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityFulfilled" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityReceived" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="commitInventory" type="tranInvtTyp:TransferOrderItemCommitInventory" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lastPurchasePrice" type="xsd:double" />
      <xsd:element minOccurs="0" name="averageCost" type="xsd:double" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterCompanyTransferOrderItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranInvt:InterCompanyTransferOrderItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="workOrder" type="tranInvt:WorkOrder" />
  <xsd:complexType name="WorkOrder">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="manufacturingRouting" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="autoCalculateLag" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="job" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="assemblyItem" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="expandAssembly" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="isWip" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranInvtTyp:WorkOrderOrderStatus" />
          <xsd:element minOccurs="0" name="firmed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="itemList" type="tranInvt:WorkOrderItemList" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="schedulingMethod" type="tranInvtTyp:WorkOrderSchedulingMethod" />
          <xsd:element minOccurs="0" name="salesTeamList" type="tranInvt:SalesTeamList" />
          <xsd:element minOccurs="0" name="partnersList" type="tranInvt:PartnersList" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="sourceTransactionId" type="xsd:string" />
          <xsd:element minOccurs="0" name="sourceTransactionLine" type="xsd:long" />
          <xsd:element minOccurs="0" name="specialOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="buildable" type="xsd:double" />
          <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
          <xsd:element minOccurs="0" name="built" type="xsd:double" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="revision" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="operationSequenceNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="componentYield" type="xsd:double" />
      <xsd:element minOccurs="0" name="bomQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityCommitted" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBackOrdered" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
      <xsd:element minOccurs="0" name="averageCost" type="xsd:double" />
      <xsd:element minOccurs="0" name="lastPurchasePrice" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderPriority" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="poVendor" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="poRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="percentComplete" type="xsd:double" />
      <xsd:element minOccurs="0" name="contribution" type="xsd:double" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="commit" type="tranInvtTyp:WorkOrderItemItemCommitInventory" />
      <xsd:element minOccurs="0" name="createPo" type="tranInvtTyp:WorkOrderItemItemCreatePo" />
      <xsd:element minOccurs="0" name="createWo" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="plannedIssueDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranInvt:WorkOrderItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="SalesTeamList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="salesTeam" type="platformCommon:CustomerSalesTeam" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PartnersList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="partners" type="platformCommon:Partners" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="inventoryTransfer" type="tranInvt:InventoryTransfer" />
  <xsd:complexType name="InventoryTransfer">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="transferLocation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="inventoryList" type="tranInvt:InventoryTransferInventoryList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InventoryTransferInventory">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="adjustQtyBy" type="xsd:double" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="fromBinNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="toBinNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InventoryTransferInventoryList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="inventory" type="tranInvt:InventoryTransferInventory" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="binTransfer" type="tranInvt:BinTransfer" />
  <xsd:complexType name="BinTransfer">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="inventoryList" type="tranInvt:BinTransferInventoryList" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinTransferInventory">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="preferredBin" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="itemUnitsLabel" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="fromBins" type="xsd:string" />
      <xsd:element minOccurs="0" name="toBins" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BinTransferInventoryList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="inventory" type="tranInvt:BinTransferInventory" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="binWorksheet" type="tranInvt:BinWorksheet" />
  <xsd:complexType name="BinWorksheet">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="itemList" type="tranInvt:BinWorksheetItemList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinWorksheetItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="itemName" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="itemOnHand" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemUnitsLabel" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="itemBins" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemBinNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemBinList" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemPreferBin" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemBlank" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BinWorksheetItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranInvt:BinWorksheetItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="workOrderIssue" type="tranInvt:WorkOrderIssue" />
  <xsd:complexType name="WorkOrderIssue">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="revision" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="manufacturingRouting" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="startOperation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="endOperation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="componentList" type="tranInvt:WorkOrderIssueComponentList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderIssueComponent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="operationSequenceNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="componentInventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderIssueComponentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="workOrderIssueComponent" type="tranInvt:WorkOrderIssueComponent" />
    </xsd:sequence>
    <xsd:attribute default="false" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="workOrderCompletion" type="tranInvt:WorkOrderCompletion" />
  <xsd:complexType name="WorkOrderCompletion">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="scrapQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBackflush" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="orderQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="revision" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="startOperation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="endOperation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="completedQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="manufacturingRouting" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="componentList" type="tranInvt:WorkOrderCompletionComponentList" />
          <xsd:element minOccurs="0" name="operationList" type="tranInvt:WorkOrderCompletionOperationList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCompletionComponent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="operationSequenceNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantityPer" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="componentInventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCompletionComponentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="workOrderCompletionComponent" type="tranInvt:WorkOrderCompletionComponent" />
    </xsd:sequence>
    <xsd:attribute default="false" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="workOrderClose" type="tranInvt:WorkOrderClose" />
  <xsd:complexType name="WorkOrderClose">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="orderQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="scrapQuantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="revision" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCompletionOperation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="operationSequence" type="xsd:long" />
      <xsd:element minOccurs="0" name="operationName" type="xsd:string" />
      <xsd:element minOccurs="0" name="workCenter" type="xsd:string" />
      <xsd:element minOccurs="0" name="machineResources" type="xsd:long" />
      <xsd:element minOccurs="0" name="laborResources" type="xsd:long" />
      <xsd:element minOccurs="0" name="inputQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityRemaining" type="xsd:double" />
      <xsd:element minOccurs="0" name="predecessorCompletedQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="completedQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="recordSetup" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="machineSetupTime" type="xsd:double" />
      <xsd:element minOccurs="0" name="laborSetupTime" type="xsd:double" />
      <xsd:element minOccurs="0" name="machineRunTime" type="xsd:double" />
      <xsd:element minOccurs="0" name="laborRunTime" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCompletionOperationList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="workOrderCompletionOperation" type="tranInvt:WorkOrderCompletionOperation" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="inventoryCostRevaluation" type="tranInvt:InventoryCostRevaluation" />
  <xsd:complexType name="InventoryCostRevaluation">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="inventoryValue" type="xsd:double" />
          <xsd:element minOccurs="0" name="unitCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="costComponentList" type="tranInvt:InventoryCostRevaluationCostComponentList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InventoryCostRevaluationCostComponent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cost" type="xsd:double" />
      <xsd:element minOccurs="0" name="componentItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="costCategory" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InventoryCostRevaluationCostComponentList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="costComponent" type="tranInvt:InventoryCostRevaluationCostComponent" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
</xsd:schema>