ServiceManager/Web References/SuiteTalk/marketing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCoreTyp="urn:types.core_2013_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2013_1.platform.webservices.netsuite.com" xmlns:listMkt="urn:marketing_2013_1.lists.webservices.netsuite.com" xmlns:platformCommon="urn:common_2013_1.platform.webservices.netsuite.com" xmlns:listMktTyp="urn:types.marketing_2013_1.lists.webservices.netsuite.com" xmlns:platformCore="urn:core_2013_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:marketing_2013_1.lists.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2013_1_0/core.xsd" namespace="urn:core_2013_1.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2013_1_0/common.xsd" namespace="urn:common_2013_1.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/lists/v2013_1_0/marketingTypes.xsd" namespace="urn:types.marketing_2013_1.lists.webservices.netsuite.com" />
  <xsd:element name="Campaign" type="listMkt:Campaign" />
  <xsd:complexType name="Campaign">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
          <xsd:element minOccurs="0" name="title" type="xsd:string" />
          <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="owner" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="baseCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="cost" type="xsd:double" />
          <xsd:element minOccurs="0" name="expectedRevenue" type="xsd:double" />
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="local" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="totalRevenue" type="xsd:double" />
          <xsd:element minOccurs="0" name="roi" type="xsd:double" />
          <xsd:element minOccurs="0" name="profit" type="xsd:double" />
          <xsd:element minOccurs="0" name="costPerCustomer" type="xsd:double" />
          <xsd:element minOccurs="0" name="convCostPerCustomer" type="xsd:double" />
          <xsd:element minOccurs="0" name="conversions" type="xsd:long" />
          <xsd:element minOccurs="0" name="leadsGenerated" type="xsd:long" />
          <xsd:element minOccurs="0" name="uniqueVisitors" type="xsd:long" />
          <xsd:element minOccurs="0" name="vertical" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="audience" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="offer" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="promotionCode" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="itemList" type="platformCore:RecordRefList" />
          <xsd:element minOccurs="0" name="family" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="searchEngine" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="keyword" type="xsd:string" />
          <xsd:element minOccurs="0" name="campaignEmailList" type="listMkt:CampaignEmailList" />
          <xsd:element minOccurs="0" name="campaignDirectMailList" type="listMkt:CampaignDirectMailList" />
          <xsd:element minOccurs="0" name="campaignEventList" type="listMkt:CampaignEventList" />
          <xsd:element minOccurs="0" name="eventResponseList" type="listMkt:CampaignEventResponseList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CampaignEmail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="internalId" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="template" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="subscription" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="channel" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="cost" type="xsd:double" />
      <xsd:element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignEmailStatus" />
      <xsd:element minOccurs="0" name="dateScheduled" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="promoCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignEmailList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignEmail" type="listMkt:CampaignEmail" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="CampaignDirectMail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="internalId" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="template" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="subscription" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="channel" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="cost" type="xsd:double" />
      <xsd:element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignDirectMailStatus" />
      <xsd:element minOccurs="0" name="dateScheduled" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="promoCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignDirectMailList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignDirectMail" type="listMkt:CampaignDirectMail" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="CampaignEvent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="internalId" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="subscription" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="channel" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="cost" type="xsd:double" />
      <xsd:element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignEventStatus" />
      <xsd:element minOccurs="0" name="dateScheduled" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="promoCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignEventList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignEvent" type="listMkt:CampaignEvent" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="CampaignEventResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="dateSent" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="sent" type="xsd:double" />
      <xsd:element minOccurs="0" name="opened" type="xsd:double" />
      <xsd:element minOccurs="0" name="openedRatio" type="xsd:double" />
      <xsd:element minOccurs="0" name="clickedThru" type="xsd:double" />
      <xsd:element minOccurs="0" name="clickedThruRatio" type="xsd:double" />
      <xsd:element minOccurs="0" name="responded" type="xsd:long" />
      <xsd:element minOccurs="0" name="respondedRatio" type="xsd:double" />
      <xsd:element minOccurs="0" name="unsubscribed" type="xsd:long" />
      <xsd:element minOccurs="0" name="unsubscribedRatio" type="xsd:double" />
      <xsd:element minOccurs="0" name="bounced" type="xsd:long" />
      <xsd:element minOccurs="0" name="bouncedRatio" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignEventResponseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="eventResponse" type="listMkt:CampaignEventResponse" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="campaignSearch" type="listMkt:CampaignSearch" />
  <xsd:complexType name="CampaignSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:CampaignSearchBasic" />
          <xsd:element minOccurs="0" name="campaignRecipientJoin" type="platformCommon:EntitySearchBasic" />
          <xsd:element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic" />
          <xsd:element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic" />
          <xsd:element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic" />
          <xsd:element minOccurs="0" name="promotionCodeJoin" type="platformCommon:PromotionCodeSearchBasic" />
          <xsd:element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CampaignSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="listMkt:CampaignSearch" />
          <xsd:element minOccurs="0" name="columns" type="listMkt:CampaignSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CampaignSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:CampaignSearchRowBasic" />
          <xsd:element minOccurs="0" name="campaignRecipientJoin" type="platformCommon:EntitySearchRowBasic" />
          <xsd:element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic" />
          <xsd:element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic" />
          <xsd:element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic" />
          <xsd:element minOccurs="0" name="promotionCodeJoin" type="platformCommon:PromotionCodeSearchRowBasic" />
          <xsd:element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignCategory" type="listMkt:CampaignCategory" />
  <xsd:complexType name="CampaignCategory">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="parent" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="leadSource" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isexternal" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignAudience" type="listMkt:CampaignAudience" />
  <xsd:complexType name="CampaignAudience">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignFamily" type="listMkt:CampaignFamily" />
  <xsd:complexType name="CampaignFamily">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignSearchEngine" type="listMkt:CampaignSearchEngine" />
  <xsd:complexType name="CampaignSearchEngine">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignChannel" type="listMkt:CampaignChannel" />
  <xsd:complexType name="CampaignChannel">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="eventType" type="listMktTyp:CampaignChannelEventType" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignOffer" type="listMkt:CampaignOffer" />
  <xsd:complexType name="CampaignOffer">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignResponse" type="listMkt:CampaignResponse" />
  <xsd:complexType name="CampaignResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="leadSource" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="campaignEvent" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="campaignResponseDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="channel" type="xsd:string" />
          <xsd:element minOccurs="0" name="response" type="listMktTyp:CampaignResponseResponse" />
          <xsd:element minOccurs="0" name="note" type="xsd:string" />
          <xsd:element minOccurs="0" name="responsesList" type="listMkt:CampaignResponseResponsesList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CampaignResponseResponses">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="response" type="xsd:string" />
      <xsd:element minOccurs="0" name="responseDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="author" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignResponseResponsesList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="responses" type="listMkt:CampaignResponseResponses" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="CampaignVertical" type="listMkt:CampaignVertical" />
  <xsd:complexType name="CampaignVertical">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CampaignSubscription" type="listMkt:CampaignSubscription" />
  <xsd:complexType name="CampaignSubscription">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="subscribedByDefault" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="unsubscribed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="externalName" type="xsd:string" />
          <xsd:element minOccurs="0" name="externalDescription" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="promotionCode" type="listMkt:PromotionCode" />
  <xsd:complexType name="PromotionCode">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="implementation" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="useType" type="listMktTyp:PromotionCodeUseType" />
          <xsd:element minOccurs="0" name="displayLineDiscounts" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="code" type="xsd:string" />
          <xsd:element minOccurs="0" name="codePattern" type="xsd:string" />
          <xsd:element minOccurs="0" name="numberToGenerate" type="xsd:long" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="isInactive" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="discount" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="rate" type="xsd:string" />
          <xsd:element minOccurs="0" name="discountType" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="applyDiscountTo" type="listMktTyp:PromotionCodeApplyDiscountTo" />
          <xsd:element minOccurs="0" name="freeShipMethod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="minimumOrderAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="isPublic" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="currencyList" type="listMkt:PromotionCodeCurrencyList" />
          <xsd:element minOccurs="0" name="excludeItems" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="itemsList" type="listMkt:PromotionCodeItemsList" />
          <xsd:element minOccurs="0" name="partnersList" type="listMkt:PromotionCodePartnersList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodePartners">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partner" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="code" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodePartnersList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="partners" type="listMkt:PromotionCodePartners" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeItems">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeItemsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="items" type="listMkt:PromotionCodeItems" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="promotionCodeSearch" type="listMkt:PromotionCodeSearch" />
  <xsd:complexType name="PromotionCodeSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:PromotionCodeSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="listMkt:PromotionCodeSearch" />
          <xsd:element minOccurs="0" name="columns" type="listMkt:PromotionCodeSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
        <xsd:attribute name="savedSearchId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:PromotionCodeSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeCurrency">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="minimumOrderAmount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PromotionCodeCurrencyList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="currency" type="listMkt:PromotionCodeCurrency" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="couponCode" type="listMkt:CouponCode" />
  <xsd:complexType name="CouponCode">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="promotion" type="platformCore:RecordRef" />
          <xsd:element minOccurs="1" name="code" type="xsd:string" />
          <xsd:element minOccurs="0" name="recipient" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dateSent" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="used" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="useCount" type="xsd:long" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="couponCodeSearch" type="listMkt:CouponCodeSearch" />
  <xsd:complexType name="CouponCodeSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:CouponCodeSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CouponCodeSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="listMkt:CouponCodeSearch" />
          <xsd:element minOccurs="0" name="columns" type="listMkt:CouponCodeSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
        <xsd:attribute name="savedSearchId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CouponCodeSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:CouponCodeSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>