ServiceManager/Web References/SuiteTalk/purchases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCommonTyp="urn:types.common_2015_2.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tranPurchTyp="urn:types.purchases_2015_2.transactions.webservices.netsuite.com" xmlns:tranPurch="urn:purchases_2015_2.transactions.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_2.platform.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_2.platform.webservices.netsuite.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:purchases_2015_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/core.xsd" namespace="urn:core_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/common.xsd" namespace="urn:common_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_2_0/commonTypes.xsd" namespace="urn:types.common_2015_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2015_2_0/purchaseTypes.xsd" namespace="urn:types.purchases_2015_2.transactions.webservices.netsuite.com" />
  <xsd:complexType name="PurchLandedCostList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="landedCost" type="platformCommon:LandedCostSummary" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="VendorBill" type="tranPurch:VendorBill" />
  <xsd:complexType name="VendorBill">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="terms" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="discountDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="discountAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="paymentHold" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="creditLimit" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="landedCostMethod" type="platformCommonTyp:LandedCostMethod" />
          <xsd:element minOccurs="0" name="landedCostPerLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorBillExpenseList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorBillItemList" />
          <xsd:element minOccurs="0" name="landedCostsList" type="tranPurch:PurchLandedCostList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
          <xsd:element minOccurs="0" name="purchaseOrderList" type="platformCore:RecordRefList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorBillExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderDoc" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorBillExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorBillExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorBillItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderDoc" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostCategory" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="billreceiptsList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="landedCost" type="platformCommon:LandedCost" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorBillItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorBillItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="PurchaseOrder" type="tranPurch:PurchaseOrder" />
  <xsd:complexType name="PurchaseOrder">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="purchaseContract" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="supervisorApproval" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="terms" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="otherRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="toBePrinted" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="toBeEmailed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="toBeFaxed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="fax" type="xsd:string" />
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="shipTo" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="shipIsResidential" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="shipAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="fob" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipMethod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="trackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="linkedTrackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoTransaction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoStatus" type="platformCommonTyp:IntercoStatus" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranPurchTyp:PurchaseOrderOrderStatus" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:PurchaseOrderItemList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:PurchaseOrderExpenseList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:PurchaseOrderExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantityReceived" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBilled" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="purchaseContract" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostCategory" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="matchBillToReceipt" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="expectedReceiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:PurchaseOrderItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="ItemReceipt" type="tranPurch:ItemReceipt" />
  <xsd:complexType name="ItemReceipt">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="partner" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="landedCostMethod" type="platformCommonTyp:LandedCostMethod" />
          <xsd:element minOccurs="0" name="landedCostPerLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:ItemReceiptItemList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:ItemReceiptExpenseList" />
          <xsd:element minOccurs="0" name="landedCostsList" type="tranPurch:PurchLandedCostList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="itemReceive" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="jobName" type="xsd:string" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="itemName" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="onHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityRemaining" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="unitsDisplay" type="xsd:string" />
      <xsd:element minOccurs="0" name="unitCostOverride" type="xsd:double" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="restock" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="isDropShipment" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="landedCost" type="platformCommon:LandedCost" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:ItemReceiptItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="markReceived" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:ItemReceiptExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorPayment" type="tranPurch:VendorPayment" />
  <xsd:complexType name="VendorPayment">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="apAcct" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="voidJournal" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="toAch" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="toBePrinted" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="printVoucher" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="applyList" type="tranPurch:VendorPaymentApplyList" />
          <xsd:element minOccurs="0" name="creditList" type="tranPurch:VendorPaymentCreditList" />
          <xsd:element minOccurs="0" name="billPay" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentApply">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="job" type="xsd:string" />
      <xsd:element minOccurs="0" name="applyDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="discDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="discAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="disc" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentApplyList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="apply" type="tranPurch:VendorPaymentApply" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentCredit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="creditDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="appliedTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentCreditList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="credit" type="tranPurch:VendorPaymentCredit" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorCredit" type="tranPurch:VendorCredit" />
  <xsd:complexType name="VendorCredit">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="unApplied" type="xsd:double" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="autoApply" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="applied" type="xsd:double" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorCreditExpenseList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorCreditItemList" />
          <xsd:element minOccurs="0" name="applyList" type="tranPurch:VendorCreditApplyList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorCreditExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorCreditItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbersList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorCreditItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorCreditApply">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="applyDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditApplyList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="apply" type="tranPurch:VendorCreditApply" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorReturnAuthorization" type="tranPurch:VendorReturnAuthorization" />
  <xsd:complexType name="VendorReturnAuthorization">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranPurchTyp:VendorReturnAuthorizationOrderStatus" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoTransaction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoStatus" type="platformCommonTyp:IntercoStatus" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorReturnAuthorizationExpenseList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorReturnAuthorizationItemList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorReturnAuthorizationExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbersList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isDropShipment" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorReturnAuthorizationItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="purchaseRequisition" type="tranPurch:PurchaseRequisition" />
  <xsd:complexType name="PurchaseRequisition">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="estimatedTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:PurchaseRequisitionItemList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:PurchaseRequisitionExpenseList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="tranPurch:PurchaseRequisitionAccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="poVendor" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="estimatedAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="linkedOrderStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchaseRequisitionExpense" type="tranPurch:PurchaseRequisitionExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="poVendor" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="estimatedRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="estimatedAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="linkedOrderStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="expectedReceiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="expandItemGroup" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchaseRequisitionItem" type="tranPurch:PurchaseRequisitionItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionAccountingBookDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionAccountingBookDetailList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchaseRequisitionAccountingBookDetail" type="tranPurch:PurchaseRequisitionAccountingBookDetail" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
</xsd:schema>